* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: #3f464d;
    font-family: "Spoca Han Sans Neo", "Sans-serif";
}

a {
    all: unset;
}

a:link {
    text-decoration: none;
    color: #3f464d;
}

a:visited {
    text-decoration: none;
    color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
    text-decoration: none;
    color: #3f464d;
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

header {
    width: 100%;
    height: 60px;
    background-color: #fefffa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container .head-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.head-container .head-name a:hover {
    color: #4294a0;
    cursor: pointer;
}

.head-container .head-til {
    font-weight: bold;
    font-size: 1.2rem;
}

.head-container .head-til a:hover {
    color: #4294a0;
    cursor: pointer;
}

section {
    width: 100%;
    background-color: #fff;
    position: relative;
}

.main {
    height: 360px;
    background-image: url("/web_page_practice/img/main_disney.jpg");
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(44, 46, 117);
    opacity: 0.7;
    z-index: 2;
    margin-top: 60px;
}

.title-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding-bottom: 0.8rem;
}

.message {
    font-size: 1.4rem;
    font-weight: normal;
    color: #fff;
    line-height: 2rem;
}

.skill-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill {
    width: 25%;
    background-color: #fefffa;
    display: flex;
    align-items: center;
    border-radius: 9px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
}

.skill-icon {
    font-size: 2.5rem;
    margin: 0 10px;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skill-name {
    font-weight: bold;
    color: #545e6f;
    margin-bottom: 0.2rem;
}

.skill-usage {
    font-size: 0.9rem;
    color: #545e6f;
}

.python-style {
    color: #4294a0;
}

.analysis-style {
    color: #ff8066;
}

.ai-style {
    color: #f7df1e;
}

.vue-style {
    color: #2e7d32;
}

.roadmap-container {
    width: 100%;
    margin-top: 2rem;
}

.roadmap-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roadmap-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #545e6f;
}

.slide-prev {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(47, 48, 89);
}

.slide-next {
    font-size: 2rem;
    cursor: pointer;
    color: #cfd8dc;
}

.arrow-container {
    display: flex;
}

.class-list {
    display: flex;
    list-style: none;
}

.class-card {
    width: 240px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    border-radius: 8px;
    margin: 0 10px;
}

.class-image {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 150px;
}

.class-container {
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class-type {
    font-size: 0.9rem;
    color: #949393;
}

.class-format {
    font-size: 0.9rem;
    color: #ffffff;
    background-color: #0d47a1;
    padding: 0.2rem;
}

@media only screen and (min-width: 1200px) {
    .inner {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 980px) {
    .skill-container {
        display: none;
    }
}